<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Progressive Web App - local storage test
  </h1>
  <h4></h4>
</div>

<button (click)="setLocalStorage()" style="display: block; padding: 10px; margin-bottom: 10px;">Update local storage</button>

<button (click)="clearLocalStorage()" style="display: block; padding: 10px; margin-bottom: 10px;">Clear local storage</button>


<h3>Statuses</h3>
<ul>
  <li *ngFor="let status of statuses">{{ status }}</li>
</ul>

